
.Featured_box {
    padding: 40px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.headings {
    text-align: center;
    padding: 20px 0px;
    
}

.card_details {
    text-align: center;
}


@media only screen and (max-width: 768px) {
    
    .Featured_box {
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 3rem;
    }
}